.App {
  text-align: center;
  margin: 20px auto;
  background-color: #2b877e;
  font-family: 'Noto Sans JP', sans-serif;
  color: whitesmoke;
 
}

.title {
  margin: 0 auto;
  font-family: 'Liu Jian Mao Cao', cursive;
  /* color:  #074741; */
  color: #9c6d00;
  font-size: 120px;
  padding: 20px;
  
}
.title-container {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 245, 245, 0.514);
  width: 95%;
  
  border-radius: 10px;
}

.title-border {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28%;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14),  0px 2px 1px -1px rgba(0,0,0,0.12);
  border: solid 2px whitesmoke;
  
  border-radius: 10px;
}

.tagline {
  color: whitesmoke;
  font-family: 'Liu Jian Mao Cao', cursive;
  font-size: 45px;
  margin: 20px auto;
}


nav {
  /* margin: 0 auto; */
  width: 90%;
  display: flex;
  justify-content: center;
}

.nav-link-container {
  width: 90vw;
  display: flex;
  margin: 0 auto;
 justify-content: flex-end;
 align-items: flex-end;
 
}

nav a {
  text-decoration: none;
  color: #074741;
  padding: 15px;
  margin: 2px 5px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 20px;
  background-color: rgba(245, 245, 245, 0.514);
  min-width: 60px;
  border-radius: 3px;
}

nav a:hover {
  background-color: #074741;
  color: whitesmoke;
}

.habitchild-container {
 
  display: flex;
  flex-direction: column;
}

.habit-container {
  text-align: left;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
}

.item {
  display: flex;
  min-width: 20vw;
  max-width: 15vw;
  /* width: 20%; */
  padding: 12px 30px 12px 20px;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
  margin: 15px;
  border: solid 5px #d8ad45;
  border-radius: 10px;
}


.reward-master-container {
 
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.reward-container {
    width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}


.reward {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 12px 30px 12px 20px;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
  margin: 12px 10px;
  border-radius: 10px;
  border: solid 5px #d8ad45;

  color:	whitesmoke;
}



.material-icons.md-48 { font-size: 48px; }

.material-icons.delete {
  color:  #074741;
  cursor: pointer;
}

.material-icons.edit {
  color:  #074741;
  cursor: pointer;
  padding-left: 30px;
  font-size: 20px;
}

.material-icons.add {
  color: #d8ad45;
  cursor: pointer;
  font-size: 60px;
  align-items: center;
}

button {
  padding: 30px;
  margin: 20px auto;
  text-decoration: none;
  border-radius: 10px;
  font-size: 24px; 
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
  background-color: #d8ad45;
  color: whitesmoke;
  border: solid 2px whitesmoke;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}


.frac {
  font-size: 75px;
}

.frac {
  font-size: 60px;
}

.today-reward {
  width: 300px;
  padding: 12px 30px 12px 20px;
  /* box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12); */
  margin: 0 auto;
  font-family: 'Liu Jian Mao Cao', cursive;
  border-radius: 10px;
  background-color: #d8ad45;
  border: solid 2px whitesmoke;
}

.today-reward-font {
  font-size: 100px;
}


input[type=number] {
  width: 50%;
  padding: 12px 7px;
  margin: 8px 0;
  border:solid 2px whitesmoke;
  background-color: transparent;
  color: whitesmoke;
  font-size: 20px;
  text-align: center;
}

input[type=string] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  
  background-color: rgba(245, 245, 245, 0.514);
}

.today-points {
  display: flex;
  justify-content: center; 
  
}
.title-points {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 70px;
  margin: 30px auto;
}

input[type=submit] {
  margin: 0 auto;
  padding: 5px;
  border-radius: 10px;
  font-size: 20px; 
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
  background-color: #d8ad45;
  color: whitesmoke;
  border: solid 2px whitesmoke;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}