.App {
  text-align: center;
  margin: 0 auto;
  background-color: #2b877e;
 
}
.title {
  margin: 0 auto;
  font-family: 'Liu Jian Mao Cao', cursive;
  color:  #074741;
  font-size: 120px;
  padding: 20px;
}
.title-container {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 245, 245, 0.514);
  width: 25%;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14),  0px 2px 1px -1px rgba(0,0,0,0.12);
}

.habitchild-container {
 
  display: flex;
  flex-direction: column;
}

.habit-container {
  text-align: left;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
}


.item {
  display: flex;
  width: 20%;
  padding: 12px 30px 12px 20px;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
  margin: 15px;

  border-radius: 10px;
}


.reward-master-container {
 
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.reward-container {
    width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}


.reward {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 12px 30px 12px 20px;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
  margin: 12px 10px;
  border-radius: 10px;
  border: solid 5px #d8ad45;

  color:	whitesmoke;
}



.material-icons.md-48 { font-size: 48px; }

.material-icons.delete {
  color: #78909C;
  cursor: pointer;
}

.material-icons.edit {
  color: rgba(120, 144, 156, 0.575);
  cursor: pointer;
  padding-left: 30px;
  font-size: 20px;
}

.material-icons.add {
  color: #d8ad45;
  cursor: pointer;
  font-size: 60px;
  align-items: center;
}

button {
  padding: 30px;
  margin: 20px auto;
  text-decoration: none;
  border-radius: 10px;
  font-size: 24px; 
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
  background-color: #8f9c5e;
  color: whitesmoke;
}


.frac {
  font-size: 75px;
}

.frac {
  font-size: 60px;
}

.today-reward {
  width: 300px;
  padding: 12px 30px 12px 20px;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
  margin: 0 auto;
  
  border-radius: 10px;
  font-family: 'Lobster', cursive;
}

.today-reward-font {
  font-size: 75px;
}


input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  /* box-sizing: border-box; */
  background-color: rgba(245, 245, 245, 0.514);
}
